* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.card{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .12);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3a456b;
    color: #fff;
    text-align: center;
    z-index: 1000;
    padding: 1px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode .card {
    background-color: #333;
    color: #fff;
}

.dark-mode .card-title-text-title span {
    color: #fff;
}

.dark-mode .el-timeline-item h4,
.dark-mode .el-timeline-item p {
    color: #fff;
}

.dark-mode .card {
    background-color: #333;
    color: #fff;
}

.dark-mode .card-title-text-title span {
    color: #fff;
}

.dark-mode .el-timeline-item h4,
.dark-mode .el-timeline-item p {
    color: #fff;
}
