<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.mapper.Category2Mapper">

    <select id="selectAll" resultType="com.lc.entity.Category2">
        select * from `category2`
        <where>
            <if test="title != null and title != ''">title like concat('%',#{title},'%')</if>
        </where>
        order by id desc
    </select>

    <update id="updateById">
        update `category2` set title = #{title}
        where id = #{id}
    </update>

    <insert id="insert">
        insert into `category2` (title)
        values (#{title})
    </insert>
    
    <select id="selectById" resultType="com.lc.entity.Category2">
        select * from `category2` where id = #{id}
    </select>
</mapper>