<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.mapper.UserMapper">

    <select id="selectAll" resultType="com.lc.entity.User">
        select * from `user`
        <where>
            <if test="name != null and name != ''">name like concat('%',#{name},'%')</if>
            <if test="username != null and username != ''">and username like concat('%',#{username},'%')</if>
            <if test="ids != null and ids != ''">
                and id in
                 <foreach collection="idsArr" open="(" close=")" item="id" separator=",">
                    #{id}
                 </foreach>
            </if>
        </where>
        order by id desc
    </select>

    <insert id="insert">
        insert into `user` (username, name, phone, email, password, role, avatar)
        values (#{username}, #{name}, #{phone}, #{email}, #{password}, #{role}, #{avatar})
    </insert>
    
    <update id="updateById">
        update `user` set username = #{username}, name = #{name}, phone = #{phone}, email = #{email}, password = #{password}, avatar = #{avatar}
        where id = #{id}
    </update>
    
    <select id="selectById" resultType="com.lc.entity.User">
        select * from `user` where id = #{id}
    </select>
</mapper>